<div class="alert alert-warning" role="alert">
    {{  translate("Welcome to ManagementUI. Be careful with changes") }}
</div>
<div class="row">
    <div class="col-md-4">
        <a href="{{ url("studentui_lead_user") }}">
        <div class="panel panel-default">
            <div class="panel-body">
                <div style="text-align:center;margin-top:10px;margin-bottom:10px;">
                    <i class="fa fa-user fa-5x"></i><br/>
                    {{ translate("User") }}
                </div>
            </div>
        </div>
        </a>
    </div>
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
    </div>
</div>
