<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
                <img style="heigth:200px;" src="/img/assets/question.png" alt="help" class="img-thumbnail">
                <br />
                <br />
                <ul class="nav nav-pills nav-stacked">
                    <li class="active"><a href="{{ url("studentui_help") }}"><i class="fa fa-info fa-fw"></i> {{ translate("Introduction") }}</a></li>
                </ul>
        </div>
        <div class="col-md-10">
            <div class="well" style="text-align:center;">
                {{ translate("Ok. We know it. Here is some text missing :)") }}
            </div>
        </div>
        </div>
</div>
