<br />
<br />
<div class="row">
    <div class="col-md-4">
        <a href="">
        <div class="panel panel-default">
            <div class="panel-body">
                <div style="text-align:center;margin-top:10px;margin-bottom:10px;">
                    <i class="fa fa-language fa-5x"></i><br/>
                    Vokabeltrainer
                </div>
            </div>
        </div>
        </a>
    </div>
    <div class="col-md-4">

    </div>
    <div class="col-md-4">

    </div>
</div>
