<!-- school overview with verticle menu -->
<div class="container">
	<div class="row">
		<div class="col-md-3">
			<ul class="nav nav-pills nav-stacked">
				<li><a href="{{ url("admin_settings") }}"><i class="fa fa-list fa-fw"></i> {{ translate("Settings") }}</a></li>
        <li  class="active"><a href="{{ url("admin_about") }}"><i class="fa fa-list fa-fw"></i> {{ translate("About StudyOrganizer") }}</a></li>
			</ul>
		</div>
		<div class="col-md-9">
        Projekt Leitung: Theresa Münch <br />
        Entwicklung Leitung: Björn Ternes <br />
        Beratung: Michael Höpfl
        <br /> <br/>
        Mitwirkende: <br /> Christoph Schäfer <br />
                   Lisa Pavel <br />
                   Fabienne Treis <br />
                   Johanna Schroeter <br />
                   Leandra Schumacher <br />

		</div>
	</div>
</div>
