<!-- school overview with verticle menu -->
<div class="container">
	<div class="row">
		<div class="col-md-3">
			<ul class="nav nav-pills nav-stacked">
				<li class="active"><a href="{{ url("admin_settings") }}"><i class="fa fa-list fa-fw"></i> {{ translate("Settings") }}</a></li>
        <li><a href="{{ url("admin_about") }}"><i class="fa fa-list fa-fw"></i> {{ translate("About StudyOrganizer") }}</a></li>
			</ul>
		</div>
		<div class="col-md-9">

        In Work ...

		</div>
	</div>
</div>
